{% extends "base.html" %}
{% block content %}
    <h1> Register</h1>
    <form class="form" action="/auth/register" method="POST">
        <label class="form_label"> Email</label>
        <input class="form_input" type="email" id="email" name="email" placeholder="Enter your email adress" required>
        <label class="form_label"> password</label>
        <input class="form_input" type="password" id="password" name="password" placeholder="Enter your password" required>
        <input class="form_submit"type="submit" id="submit-button">
    </form>
    <div class="message">
        {{text | safe}}
    </div>
    
{% endblock %}